.login-form {
    width: 400px;
    margin: 0px auto !important;
    background-color: white;
    align-items: center;
    padding: 30px !important;
    height: 60vh;
    vertical-align: middle;
    border-radius: 20px;
    text-align: left;
}

.login-body {
    height: 100vh;
    background-color: #88e9d4;
    padding-top: 100px;

}

h1 {
    color: rgb(87, 97, 233);
}

.btn-block {
    margin-top: 40px;

}

.login-form h1 {
    margin: 0 37% !important
}

.btn-group {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    margin-top: 20px;
}

.button {
    width: 170px;
    border: 1px solid rgb(141, 211, 84);
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;

}

.active_button {
    background-color: #73eb77;
    color: white;
}


.form_group {
    margin: 0 !important;
    width: 340px !important;
}
.form-inline{
    display: none;
}